.footer {
  margin-top: 100px;
  font-size: 14px;
  color: $colorDarkGray;
}

.footer_icon a{
  border-bottom:0;
  color:#999;

  &:hover {
    color: $colorDeepBlack;
  }
}

.footer img {
  border: none;
}

.footer-inner {
  text-align: center;
}

.author{
  padding:0px 5px;  
}

.with-love {
  display: inline-block;
  margin: 0 5px;
}

.powered-by, .theme-info {
  display: inline-block;
}

.powered-by {
  margin-right: 10px;

  &::after {
    content: "|";
    padding-left: 10px;
  }
}

.cc-license {
  margin-top: 10px;
  text-align: center;

  .cc-opacity {
    opacity: 0.7;
    border-bottom: none;
    &:hover {
      opacity: 0.9;
    }
  }

  img {
    display: inline-block;
  }
}
