// Colors ===================================================================
$colorWhiteSmoke = #f5f5f5
$colorGainsboro = #eee
$colorLighterGray = #ddd
$colorLightGray = #ccc
$colorGray = #bbb
$colorDarkGray = #999
$colorDimGray = #666
$colorLightBlack = #555
$colorDeepBlack = #222
$colorRed = #ff2a2a
$colorBlue = #0684bd
$colorDeepBlue = #262a30

$baseTextColor = $colorLightBlack
$baseLinkColor = $colorDeepBlack
$baseLinkHoverColor = $colorDeepBlack
$baseLinkDecorationColor = $colorLightGray
$baseLinkHoverDecorationColor = $colorDeepBlack
$baseBorderColor = $colorLightGray
$bodyBackgroundColor = white
$contentBackgroundColor = white
$sidebarBackgroundColor = white
$sidebarHighlightBlue = #87daff;

// Fonts ===================================================================
$fontFamilySans = "Avenir Next", Avenir, "Tahoma", "Vendana", sans-serif
$fontFamilySerif = "PT Serif", "Cambria", Georgia, "Times New Roman", serif
$fontFamilyMono = "PT Mono", consolas, Monaco, Menlo,"Microsoft YaHei",monospace
$fontFamilyHeadline = "PT Serif", "Cambria", Georgia, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", "Times New Roman", serif
$fontFamilyPost = "Lato", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif
$fontFamilyBase = $fontFamilyPost
$fontSizeBase = 16px
$fontLineHeightBase = 1.8
$fontSizeHeadlineBase = 28px
$fontSizeHeadlineStep = 2px
$fontDir = "fonts/"
$fontIcon = FontAwesome
$fontIconVersion = "0.0.1"
$headlineFontFamily = $fontFamilyHeadline
$fontLogo = $fontFamilyPost

// Layout ==================================================================
$desktopMainWidth = 960px
$desktopContentWidth = 800px
$desktopSidebarWidth = 240px
$desktopContentPadding = 40px
$contentWrapMarginHorizontal = 20px;

// Layout ==================================================================
$siteMetaTextAlignment = center;
$brandTextColor = white;
$brandBackground = $colorDeepBlack;

// Theme ===================================================================
$mainBackgroundImage = hexo-config('background_image')
$headerBackgroundColor = white
$headerBorderBottomColor = $colorBlue
$headerBorderBottomWidth = 0
$brandWidth = 60px
$brandHeight = $headerHeight
$logoWidth = 12px
$logoHeight = 20px
$logoBackgroundColor = white
$menuItemLinkHeight = $headerHeight
$menuItemRightMargin = 10px
$menuItemHoverBackgroundColor = darken($headerBackgroundColor, 50%)
$paginationBackgroundColor = $colorWhiteSmoke
$paginationLinkBackgroundColor = white
$paginationLinkHoverBackgroundColor = $colorDeepBlack;
$postTypeLinkColor = $colorBlue
$postTypeLinkBackgroundColor = #d9edf7
$postTypeLinkBorderColor = #bce8f1
$highlightLinkColor = $baseLinkHoverColor

// Article
$articlePadding = 0px

// Highlight
$highlightFontSize = 12px
$highlightLineHeight = 1.2

// Icons SVG Base64 ===================================================================

// blockquote-center
$blockquoteCenterIcon = "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDM0aDZsNC04di0xMmgtMTJ2MTJoNnptMTYgMGg2bDQtOHYtMTJoLTEydjEyaDZ6Ii8+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+"

// chevrons
$chevron-right = "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA5IDEyIiB3aWR0aD0iOXB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHRpdGxlLz48ZGVzYy8+PGRlZnMvPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiPjxnIGZpbGw9IiMwMDAwMDAiIGlkPSJDb3JlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjYwLjAwMDAwMCwgLTkwLjAwMDAwMCkiPjxnIGlkPSJjaGV2cm9uLXJpZ2h0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNjAuNTAwMDAwLCA5MC4wMDAwMDApIj48cGF0aCBkPSJNMSwwIEwtMC40LDEuNCBMNC4yLDYgTC0wLjQsMTAuNiBMMSwxMiBMNyw2IEwxLDAgWiIgaWQ9IlNoYXBlIi8+PC9nPjwvZz48L2c+PC9zdmc+"
$chevron-left = "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA5IDEyIiB3aWR0aD0iOXB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHRpdGxlLz48ZGVzYy8+PGRlZnMvPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiPjxnIGZpbGw9IiMwMDAwMDAiIGlkPSJDb3JlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjE4LjAwMDAwMCwgLTkwLjAwMDAwMCkiPjxnIGlkPSJjaGV2cm9uLWxlZnQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIxOC41MDAwMDAsIDkwLjAwMDAwMCkiPjxwYXRoIGQ9Ik03LjQsMS40IEw2LDAgTC04Ljg4MTc4NDJlLTE2LDYgTDYsMTIgTDcuNCwxMC42IEwyLjgsNiBMNy40LDEuNCBaIiBpZD0iU2hhcGUiLz48L2c+PC9nPjwvZz48L3N2Zz4="
